.main {
  display: flex;
  justify-content: space-between;
  padding: 1vh;
}

.main__block-text {
  max-width: 20%;
  height: 150px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main__block-game {
  width: 2000px;
  height: 2000px;
  border: 1px solid blue;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: start;
}

.game__block {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: aliceblue;
}
